<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Numbers</title>
        <link rel="stylesheet" href="~/css/numbers.css">
    </head>
    <body>
        <h2>Here are some numbers!</h2>
        <div class="numbers">
            @model int[]
            @{
                foreach(int number in Model)
                {
                    <p>@number</p>
                }
            }
        </div>
    </body>
</html>