@using viewModelFun.Models
@model List<User>

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Users</title>
        <link rel="stylesheet" href="~/css/users.css">
    </head>
    <body>
        <h2>Here are some Users!</h2>
        <div class="users">
            @{
                foreach(var user in Model)
                {
                    <p>@user.FirstName @user.LastName</p>
                }
            }
        </div>
    </body>
</html>